img {
    margin-bottom: 20px;
}

.pageWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileContainer {
    width: 300px;
    display: grid;
    justify-content: flex-start;
    text-align: initial;
    font-size: 1.2em;
    margin: 30px;
}

.scoreColumn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-size: 1.5em;
}

.image {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.scoreWrapper {
    h2 {
        margin-bottom: 30px;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}