@import '../colors.scss';

.chatWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
}

.chatForm {
  display: flex;
  justify-content: flex-start;

  div {
    width: 400px;
    margin-right: 10px;
  }

  button {
    width: 150px;
    height: 37px;
  }
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 550px;
  width: 1200px;
  margin-bottom: 20px;
  padding: 20px;
  overflow-y: scroll;
  font-size: 16px;
  border: 1px solid $lightGray;

  .messagetext {
    display: block;
    word-break: break-word;
    text-align: initial;
  }
}

.chatMessage {
  display: grid;
  grid-template-columns: 110px auto auto;
  margin-bottom: 10px;
  align-items: baseline;

  .userName {
    margin-right: 10px;
    white-space: nowrap;
    text-align: initial;
    color: $blue;
  }

  .timeStamp {
    margin-right: 5px;
    white-space: nowrap;
    text-align: initial;
    color: $blueViolet;
    font-size: 12px;
  }
}