.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.inputField {
    width: 255px;
    margin-bottom: 10px;
}

.registerBtn {
    width: 255px;
}

.facebookButton {
    button {
        width: 255px;
        height: 35px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        padding: inherit;
    }
}

.inputForm {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-bottom: 10px;
}