.quizWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizTypeContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: initial;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 20px;
}

.userQuizContainer {
    margin-top: 50px;
    text-align: initial;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 20px;
}

.questionContainer {
    margin: 10px;
}